@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton&family=Baskervville:ital,wght@0,400..700;1,400..700&family=LXGW+Marker+Gothic&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Truculenta:opsz,wght@12..72,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 


:root {

    /**
     * colors
     */
  
    --dark-jungle-green: #071a1d;
    --blue-white: #94a1ca;
    --blue: #1750b2;
    --light-blue: #1a88be;    
    --cultured-1: #ededed;
    --misty-rose: #f5dedb;
    --alice-blue: #f0f7ff;
    --cadet: #d0d5d8;
    --white: #ffffff;
    --dark:#1e1c1c;
    --dark-2:#212121;
    --black: #000000;
    --opal: #8bb1b1;
  
    /**
     * typography
     */
  
    --ff-nunito-sans: "Nunito Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
    --ff-ubuntu: "ubuntu", sans-serif;
    
  
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
  
    /**
     * spacing
     */
  
    --section-padding: 100px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
    --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  button,
  ion-icon { display: block; }
  
  button {
    border: none;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
  }
  
  address { font-style: normal; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-nunito-sans);
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--dark-2);
    overflow-x: hidden;
    font-family: lato, sans-serif;
  }
    ::-webkit-scrollbar {
        width: 12px;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: var(--dark);
    }

    /* --------------------*\
   #Reused Styles
  \*-----------------------*/

  .container {
   padding-inline: 15px;
  }

  button,a {
 transition: var(--transition);
}

.h1,
.h2,
.h3{
    color: var(--blue-white);
    font-family: var(--ff-ubuntu);
}

.h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    line-height: 1.2;
}
.h2 {
    font-size: var(--fs-2);
  
}




.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--blue);
    z-index: -1;
    transition: var(--transition);
}

.btn:is(:hover, :focus)::before{
    width: 100%;
}

.w-100{
    width: 100%;
}

.h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
}
.h3 > a{
    color: inherit;
}

.section-subtitle{
    color: var(--blue-white);
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    padding: 5px 20px;
    background: hsla(219, 88%, 29%, 0.4);
    width: max-content;
    margin-inline:  auto;
    margin-bottom: 15px;
    border-radius: 6px;
}

.section-title{
    text-align: var(--text-align, center);
    margin-bottom: var(margin-bottom, 50px);
}






.navbar {
    background: linear-gradient(135deg, #462903, #966F33 );
    position: fixed;
    top: 0;
    left: -310px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
    z-index: 5;
    padding: 60px 20px;
    visibility: hidden;
    transition: 0.15s ease-in;
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(310px);
    transition: 0.25s ease-out;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--cultured-1);
    margin-bottom: 25px;
  }
  

  .navbar-top .logo img { width: 100px; }
  
  .nav-close-btn ion-icon {
    font-size: 20px;
    --ionicon-stroke-width: 45px;
    padding: 5px;
    color: var(--white);
  }
  
  .navbar-link {
    color: var(--white);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    padding-block: 15px;
    font-family: var(--ff-ubuntu);
  }
  
.navbar-link:is(:hover, :focus){
    color: var(--light-blue);
}

  
.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.header-bottom-actions{
    background-color: var(--dark-2);
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px 10px;
    box-shadow:  -2px 0 30px hsla(188, 73%, 32%, 0.1);
    z-index: 3;
}
.header-bottom-actions-btn ion-icon{
 color: var(--white);
 font-size: 20px;
 margin-inline: auto;
 --ionicon-stroke-width: 40px;
 transition: var(--transition);
}

.header-bottom-actions-btn:is(:hover, :focus) ion-icon{
    color: var(--light-blue);
}

.header-bottom-actions-btn span{
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    font-family: var(--ff-ubuntu);
}

/*--------------------*\
    #Hero
  \*-----------------------*/   
   header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }
    header h2 {
      font-family:  Truculenta;
      color: #fff;
      font-weight: 450;
      font-size: 30px;
    }


    header address {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      font-family: LXGW Marker Gothic;
      border: 2px solid #ffffff;
      padding: 5px 5px;
    }
    header nav a {
      color: #fff;
      text-decoration: none;
      margin-left: 30px;
      font-size: 1rem;
    }
    .hero {
      background: url('img/hotel\ rm.jpg') no-repeat center center/cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 120px 10% 0;
      position: relative;
    }
    .hero address {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      font-family: LXGW Marker Gothic;
      border: 2px solid #ffffff;
      writing-mode: vertical-rl;
      padding: 5px 5px;
      margin-left: -118%;
      margin-top: -13%;
    }
    .hero h2 {
      font-family: Anton;
      font-size: 1rem;
      color: #eaca98;
      font-weight: 200;
      margin-bottom: 5px;
    }
        .stars {
  color: #fece0d; /* golden */
  font-size: 1.5rem;
  margin-top: -90px;
  letter-spacing: 5px;
      margin-bottom: 5px;
      margin-top: -16%;

}
    .hero h1 {
      font-family: LXGW Marker Gothic;
;
      font-size: 2.7rem;
      max-width: 800px;
      line-height: 1.4;
      color: #fff;
      font-weight: 500;
      border-radius: 10px;
    }
    .hero button {
     background-color: #c89b61; /* golden */
      color: #462903;
      
      padding: 12px 30px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 8px;

    }
    .hero button:hover {
      background-color: #462903;
      color: #fff;
      transition: background-color 0.3s ease;
    }
  




  
/*--------------------*\
    #rooms
  \*-----------------------*/ 
  .room1{
    background: linear-gradient(135deg, #885006, #644920);
  }
.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 20px;
    }

    .intro {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 60px;
      gap: 117px;
    }

    .years-box {
      padding: 35px;
      text-align: center;
      border: 2px solid #fff;
      margin-bottom: 20px;
         border-radius: 34px;
             display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 70px;
  margin-top: 20px;
    }

    .years-box h1 {
      font-size: 3.5rem;
      color: #c88123;
      font-family: ubuntu;
    }
    .years-box p{
      color: #fff;
      font-family: lato;
      font-size: 18px;
    }
    .intro-text {
      max-width: 700px;
      padding-left: 20px;
    }

   
    .intro-text h2 {
      font-size: 1.8rem;
         color: #fff;
        font-weight: 350;

    }

    .intro-text2 p {
      margin: 15px 0;
      color: #ccc;
      font-family: Lato;
      margin-bottom: 25px;
    }

    .intro-text h6{
      color: #c89b61;
      font-size: 13px;
      margin-bottom: 8px;
    }

      .intro-text2 button {
      background-color: #c89b61;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      border-radius: 10px;
      font-family: ubuntu;
    }
    .intro-text2 button:hover{
      background: #452802;
      color: #fff;
      transition: background-color 0.3s ease;
    }



    .image-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    .image-box {
      position: relative;
      flex: 1;
      box-shadow: #452802 10px 10px 10px;
      min-width: 280px;
      height: 300px;
      overflow: hidden;

      border-radius: 10px;
    }  

      .image-box img:hover, .image-box img:active {
           transform: scale(1.1);    
           transition: 0.6s ease-in-out;    
  }


     

    .image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

    }

    .image-box .overlay-text {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: white;
      font-size: 1.0rem;
      padding: 10px 15px;
      font-family: LXGW Marker Gothic;
      border-radius: 5px;
    }
     .image-box .overlay-text2 {
      position: absolute;
      bottom: 80%;
      left: 20px;
      color: white;
      font-size: 1.rem;
      font-family: LXGW Marker Gothic;
      padding: 10px 15px;
      border-radius: 5px;
    }
  .image-box .overlay-text23 {
      position: absolute;
      bottom: 90%;
      left: 20px;
      color: white;
      font-size: 1.rem;
      font-family: LXGW Marker Gothic;
      padding: 10px 15px;
      border-radius: 5px;
    }
    @media (max-width: 768px) {
      .image-row {
        flex-direction: column;
      }
    }

    
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 60px;
  text-align: center;
}

.features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.feature-icon img {
  height: 110px;
  width: auto;
  margin-bottom: 15px;
}

.feature-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: LXGW Marker Gothic;
  font-size: 1.1rem;
  color: #fff;
}

.feature-text {
  font-size: 0.95rem;
  color: #351f04;
  font-family: lato;
  max-width: 300px;
}


    @media (max-width: 768px) {
      .intro {
        flex-direction: column;
      }

      .intro-text {
        padding-left: 0;
      }
    }
    .col{
      font-family: Lxgw marker gothic;
      text-align: center;
    
    }
    .col h2{
      font-size: 1.9rem;
      color: #fff;
    }
    .col h6{
      font-size: 16px;
      color: #bf8f51;
    }






/*--------------------*\
    #testimonials
  \*-----------------------*/ 


  .student-testimonials {
  padding: 60px 20px;
  text-align: center;
}

.student-testimonials h2 {
 font-size: 1.9rem;
  margin-bottom: 40px;
  font-family: LXGW Marker Gothic;
  color: #fff;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonial-box {
  background: linear-gradient(135deg, #f0e3e3, #875b19);
  padding: 25px;
  border-radius: 15px;
  width: 450px;
  text-align: left;
  box-shadow: 0 4px 7px rgba(199, 141, 7, 0.484);
  transition: transform 0.3s ease;
}
        .stars5 {
  color: #714209; /* golden */
  font-size: 1.5rem;
  letter-spacing: 5px;
      margin-bottom: 5px;
      margin-top: -4%;

}
.testimonial-box:hover {
  transform: translateY(-5px);

}
.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}

.user-info h3 {
  margin: 0;
  font-size: 1.1rem;
  font-family: LXGW Marker Gothic;
  font-weight: bold;
}




.testimonial-box p {
  font-size: 0.95rem;
  color: #3d3838;
  font-family: Lato, sans-serif;
}


 .fw1 h2{
  font-size: 1.9rem;
  color: #fff;
  font-family: LXGW Marker Gothic;
  margin-top: 5%;
  margin-bottom: -60px;
  text-align: center;
 }

 .footer {

     background: url('img/wood.jpg') no-repeat center center/cover;
      padding: 40px 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
  box-shadow: 0 4px 15px rgb(167, 119, 5) ;


    }

    .footer-left {
      flex: 1 1 250px;
    }

    .footer-left h2 {
      font-size: 34px;
      margin: 0;
      font-family: LXGW Marker Gothic;
      color: #fff;
    }

    .footer-left p {
      margin: 5px 0 20px;
      font-family: lato;
      color: #dca862;
    }

     .line2{
  width: 63%;
  height: 2px;
  background-color: #fff;
  margin-top: 10%;
  margin-bottom: 3%;
 }
    .footer-nav {
      display: flex;
      flex-wrap: wrap;
      gap: 31px;
    }

    .footer-nav a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
    }

    .footer-nav a.active {
      color: #dca862;
    }

    .footer-right {
      flex: 1 1 50px;
    }

    .footer-address {
      background: #dca862;
      color: #fff;
      padding: 10px 25px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .footer-email h4 {
      margin: 0 0 8px;
      font-size: 19px;
      color: #fff;
      font-family: LXGW Marker Gothic;
      margin-top: 50px;

    }
    .dis{
      display: flex;
      margin-top: 13px;
      
    }

    .footer-email input[type="email"] {
      padding: 10px;
      width: 65%;
      max-width: 220px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: var(--ff-ubuntu);
      margin-right: 10px;
    }

    .footer-email button {
      padding: 10px 15px;
      background: #dca862;
      border: none;
      font-family:  lato;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

.footer-bottom {
  background: #0c0c0c;
  color: #fff;
  padding: 15px 50px;
  margin-bottom: 70px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer-links{
  display: flex;
   flex-wrap: initial;
  align-items: center;
  gap: 15px;
}
.footer-bottom a {
  margin-right: 15px;
  align-items: center;
  color: #fff;
  text-decoration: none;
}


.line3{
  width: 0.8%;
  height: 15px;
  background-color: #fff;

}

.footer-bottom a:hover {
  text-decoration: underline;
}


    @media (max-width: 600px) {
      .footer {
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-email input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
      }
      .footer-email button {
        width: 100%;
      }
    }

     /*--------------------*\
    #Responsive
  \*-----------------------*/   
  @media screen and (max-width: 768px) {
    .hero{
      
      height: 90vh;
    }
        .stars {
  color: #fece0d; /* golden */
  font-size: 1.5rem;
  margin-top: -90px;
  letter-spacing: 5px;
      margin-bottom: 5px;
      margin-top: -36%;

}

    .hero address{
      margin-top: -100px;
    }
  header address{
  }
   header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }
    header h2 {
      font-family: Truculenta;
      color: #fff;
      font-size: 29px;
      
    }
  
        .hero h1 {
      font-family: LXGW Marker Gothic;
;
      font-size: 2.7rem;
      max-width: 800px;
      line-height: 1.4;
      color: #fff;
      font-weight: 500;
      border-radius: 10px;
    }
      .years-box {
      margin-left: 30%;
  margin-bottom: -70px;
    }
.intro-text h2{
  margin-bottom: -90px;
}
.intro-text h6{
  font-size: 18px;
  margin-bottom: -1px;
}
.intro-text2 p{
  margin-top: -47px;
}
     .image-box .overlay-text2 {
      bottom: 90%;
      font-size: 1.5rem;
    }
    .image-box .overlay-text{
       font-size: 1.5rem;
    }
    .image-box .overlay-text23 {
      bottom: 95%;
      font-size: 1.5rem;
    }
     .fw1 h2{
  margin-top: 12%;
 }
 .testimonials h2 {
  margin-top: -22.5%;
}
 .footer {
  gap: 0px; 
}
 .line2{
  width: 93%;
  margin-left: -8%;
  margin-top: 23%;
 }
   .footer-nav {
      gap: 18px;
      margin-left: -14px;
    }
      .footer-email button {
      padding: 0px 6px;
      border-radius: 7px;
    }
    .footer-email input[type="email"]{
      margin-right: 0px;
border-radius: 7px;
     }
  }



   .rs a{
      color: #fff;
      text-decoration: none;
      margin-left: 10px;
      font-size: 1rem;
      background: #bf8f51;
      padding: 2px 10px;
      border: #714209 1px solid;
      border-radius: 10px;
      font-family: LXGW Marker Gothic;
      visibility: visible;
      align-content: center;
    }
      .rs a:hover{
      background: #462903;
      color: #fff;
      transition: background-color 0.8s ease;
    }
  .rs{
      display: flex;
      justify-content: space-between;
    }
    
  @media (max-width: 480px) {
      .stars {
      margin-bottom: 5px;
      margin-top: -88%;
}
    .hero h1 {

      font-size: 2.5rem;
      max-width: 900px;
      line-height: 1.4;
    }

    .hero address{
      visibility: hidden;
    }
  header address{
    visibility: hidden;
  }
     header {
      align-items: center;
      display: inline;
      
     text-align: center;
    }
    header h2 {
      font-family: Truculenta;
      color: #fff;
      font-size: 26px;
      font-weight: 450;
      
      margin-top: 0px;
    }
      .rs{
      display: flex;
      justify-content: space-between;
    }
      .rs a{
      color: #fff;
      text-decoration: none;
      margin-left: 30px;
      font-size: 1rem;
      background: #bf8f51;
      padding: 2px 10px;
      border: #714209 1px solid;
      border-radius: 10px;
      font-family: LXGW Marker Gothic;
      visibility: visible;
      align-content: center;
    }
    .rs a:hover{
      background: #462903;
      color: #fff;
      transition: background-color 0.8s ease;
    }
  .years-box {
      margin-bottom: -80px;
      gap: 0px;
      margin-left: 50px;
      margin-top: 20px;
    }

    .intro-text h6{
      font-size: 18px;
      margin-bottom: 8px;
    }

    .intro-text h2 {
      margin-bottom: -50px;
    }
         .intro-text2 button {
      margin-bottom: 40px;
    }
      .image-box .overlay-text23 {
      bottom: 90%;
    }
      .image-box .overlay-text2 {
    bottom: 80%;
    font-size: 1.5rem;
      }
    .testimonials h2 {
  margin-top: -53.5%;
}
  .fw1 h2 {
    margin-top: 17%;
  }
  .line2 {
    width: 103%;
  }
  .footer-email button{
  height: 44px;
    width: 100px;
  }
.footer-email input[type="email"]{
  height: 44px;
}   
  }         








  .sp{
    margin-bottom: 30px;
  }
