@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton&family=Baskervville:ital,wght@0,400..700;1,400..700&family=LXGW+Marker+Gothic&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {

    /**
     * colors
     */
  
    --dark-jungle-green: #071a1d;
    --blue-white: #94a1ca;
    --blue: #1750b2;
    --light-blue: #1a88be;    
    --cultured-1: #ededed;
    --misty-rose: #f5dedb;
    --alice-blue: #f0f7ff;
    --cadet: #d0d5d8;
    --white: #ffffff;
    --dark:#1e1c1c;
    --dark-2:#212121;
    --black: #000000;
    --opal: #8bb1b1;
  
    /**
     * typography
     */
  
    --ff-nunito-sans: "Nunito Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
    --ff-ubuntu: "ubuntu", sans-serif;
    
  
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
  
    /**
     * spacing
     */
  
    --section-padding: 100px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
    --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  button,
  ion-icon { display: block; }
  
  button {
    border: none;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
  }
  
  address { font-style: normal; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-nunito-sans);
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--dark-2);
    overflow-x: hidden;
    font-family: lato, sans-serif;
  }
    ::-webkit-scrollbar {
        width: 12px;
        height: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: var(--dark);
    }

    /* --------------------*\
   #Reused Styles
  \*-----------------------*/

  .container {
   padding-inline: 15px;
  }

  button,a {
 transition: var(--transition);
}

.h1,
.h2,
.h3{
    color: var(--blue-white);
    font-family: var(--ff-ubuntu);
}

.h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    line-height: 1.2;
}
.h2 {
    font-size: var(--fs-2);
  
}




.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--blue);
    z-index: -1;
    transition: var(--transition);
}

.btn:is(:hover, :focus)::before{
    width: 100%;
}

.w-100{
    width: 100%;
}

.h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-600);
}
.h3 > a{
    color: inherit;
}

.section-subtitle{
    color: var(--blue-white);
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    padding: 5px 20px;
    background: hsla(219, 88%, 29%, 0.4);
    width: max-content;
    margin-inline:  auto;
    margin-bottom: 15px;
    border-radius: 6px;
}

.section-title{
    text-align: var(--text-align, center);
    margin-bottom: var(margin-bottom, 50px);
}






.navbar {
    background: linear-gradient(135deg, #462903, #966F33 );
    position: fixed;
    top: 0;
    left: -310px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
    z-index: 5;
    padding: 60px 20px;
    visibility: hidden;
    transition: 0.15s ease-in;
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(310px);
    transition: 0.25s ease-out;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--cultured-1);
    margin-bottom: 25px;
  }
  

  .navbar-top .logo img { width: 100px; }
  
  .nav-close-btn ion-icon {
    font-size: 20px;
    --ionicon-stroke-width: 45px;
    padding: 5px;
    color: var(--white);
  }
  
  .navbar-link {
    color: var(--white);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    padding-block: 15px;
    font-family: var(--ff-ubuntu);
  }
  
.navbar-link:is(:hover, :focus){
    color: var(--light-blue);
}

  
.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.header-bottom-actions{
    background-color: var(--dark-2);
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px 10px;
    box-shadow:  -2px 0 30px hsla(188, 73%, 32%, 0.1);
    z-index: 3;
}
.header-bottom-actions-btn ion-icon{
 color: var(--white);
 font-size: 20px;
 margin-inline: auto;
 --ionicon-stroke-width: 40px;
 transition: var(--transition);
}

.header-bottom-actions-btn:is(:hover, :focus) ion-icon{
    color: var(--light-blue);
}

.header-bottom-actions-btn span{
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    font-family: var(--ff-ubuntu);
}

/*--------------------*\
    #Hero
  \*-----------------------*/   
   header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }
    header h2 {
      font-family: Alex Brush;
      color: #fff;
      font-size: 30px;
    }


    header address {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      font-family: LXGW Marker Gothic;
      border: 2px solid #ffffff;
      padding: 5px 5px;
    }
    header nav a {
      color: #fff;
      text-decoration: none;
      margin-left: 30px;
      font-size: 1rem;
    }
    .hero {
      background: url('img/hotel\ rm.jpg') no-repeat center center/cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 120px 10% 0;
      position: relative;
    }
    .hero address {
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      font-family: LXGW Marker Gothic;
      border: 2px solid #ffffff;
      writing-mode: vertical-rl;
      padding: 5px 5px;
      margin-left: -118%;
      margin-top: -13%;
    }
    .hero h2 {
      font-family: Anton;
      font-size: 1rem;
      color: #eaca98;
      font-weight: 200;
      margin-bottom: 5px;
    }
        .stars {
  color: #fece0d; /* golden */
  font-size: 1.5rem;
  margin-top: -90px;
  letter-spacing: 5px;
      margin-bottom: 5px;
      margin-top: -16%;

}
    .hero h1 {
      font-family: LXGW Marker Gothic;
;
      font-size: 2.7rem;
      max-width: 800px;
      line-height: 1.4;
      color: #fff;
      font-weight: 500;
      border-radius: 10px;
    }
    .hero button {
     background-color: #c89b61; /* golden */
      color: #462903;
      
      padding: 12px 30px;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 8px;

    }
    .hero button:hover {
      background-color: #462903;
      color: #fff;
      transition: background-color 0.3s ease;
    }
  


/*--------------------*\
    #Responsive
  \*-----------------------*/   
  @media screen and (max-width: 768px) {
        .stars {
  color: #fece0d; /* golden */
  font-size: 1.5rem;
  margin-top: -90px;
  letter-spacing: 5px;
      margin-bottom: 5px;
      margin-top: -36%;

}

    .hero address{
      margin-top: -100px;
    }
  header address{
  }
   header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
    }
    header h2 {
      font-family: Alex Brush;
      color: #fff;
      font-size: 40px;
    }
        .hero h1 {
      font-family: LXGW Marker Gothic;
;
      font-size: 2.7rem;
      max-width: 800px;
      line-height: 1.4;
      color: #fff;
      font-weight: 500;
      border-radius: 10px;
    }
  }

  @media (max-width: 480px) {
      .stars {
      margin-bottom: 5px;
      margin-top: -108%;
}
    .hero h1 {

      font-size: 2.5rem;
      max-width: 900px;
      line-height: 1.4;
    }
    .hero address{
      visibility: hidden;
    }
  header address{
    visibility: hidden;
  }
     header {
      align-items: center;
      display: inline;
      
     text-align: center;
    }
    header h2 {
      font-family: Alex Brush;
      color: #fff;
      font-size: 40px;
    }
  }

  
/*--------------------*\
    #rooms
  \*-----------------------*/ 
  .room1{
    background: linear-gradient(135deg, #452802, #7f591f);
  }
.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 20px;
    }

    .intro {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 60px;
    }

    .years-box {
      background-color: #ffffff;
      padding: 20px;
      text-align: center;
      border: 2px solid #333;
      margin-bottom: 20px;
    }

    .years-box h1 {
      font-size: 2.5rem;
      color: #fcb134;
    }

    .intro-text {
      max-width: 700px;
      padding-left: 20px;
    }

    .intro-text h2 {
      font-size: 2rem;
         font-family: LXGW Marker Gothic;

    }

    .intro-text p {
      margin: 15px 0;
      color: #ccc;
      font-family: Lato;
    }

    .intro-text button {
      background-color: #fcb134;
      border: none;
      padding: 10px 20px;
      color: #111;
      cursor: pointer;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
    }

    .card {
      background-color: #1b1b1b;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s ease;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }

    .card-content {
      padding: 20px;
    }

    .card h3 {
      font-family: 'Playfair Display', serif;
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .card a {
      text-decoration: none;
      color: #fcb134;
      font-size: 0.9rem;
    }

    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 30px;
      text-align: center;
      margin-top: 60px;
    }

    .feature-icon {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #fcb134;
    }

    .feature-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .feature-text {
      font-size: 0.9rem;
      color: #ccc;
    }

    @media (max-width: 768px) {
      .intro {
        flex-direction: column;
      }

      .intro-text {
        padding-left: 0;
      }
    }